.profile_img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--primary);
}
.user_details table {
  border: 1px solid gray;
}
.user_details table tr {
  font-size: 22px;
}
.user_details table tr td.head {
  text-transform: capitalize;
  font-weight: bold;
  padding: 20px;
}

.user_details table tr td.content {
  margin-left: 100px;
  padding: 20px;
}
